.parte4{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f1ec;
    position: relative;
    height: 610px;
}
.parte4 .container{
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
}
/*.parte4 .container{
    padding: 50px;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}*/
.parte4 .container .parte4-izquierda{
    width: 48%;
    float: left;
    margin: 0 1% 40px;
}
.parte4 .container .parte4-izquierda h2{
    font-family: "Averia Serif Libre", Arial, Tahoma, sans-serif;
    color: #372921;
}
.parte4 .container .parte4-derecha{
    width: 48%;
    float: left;
    margin: 0 1% 40px;
}
.parte4 .container .parte4-derecha .big{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.parte4 .container .parte4-derecha .clearfix .big h4{
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
p{
    margin: 0 0 15px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #8c8c8c;
}
.parte4-foto{
    width: 98%;
    float: left;
    margin: 0 1% 40px;
}
.clearfix{
    zoom: 1;
}
.galeria{
    margin: auto;
}
.galeria .galeria-item{
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 24.99%;
}
.galeria img{
    border:2px solid #cfcfcf;
}
.galeria .galeria-item .galeria-icon{
    border: 0;
    widows: 95%;
    overflow: hidden;
    line-height: 0;
    margin-right: 2.5;
    margin-left: 2.5;
    padding: 0;
    position: relative;
}
.image_frame{
    border-color: #f8f8f8;
    display: block;
    margin: 0;
    border-width: 100%;
    line-height: 0;
    box-sizing: border-box;
}
.image_frame .imagen{
    border-color: #e2e2e2e2;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.imagen img{
    width: 263px;
    height: 263px;
}
.parte4-footer{
    width: 73%;
    float: left;
    margin: 0 1% 40px;
}
.parte4-footer .column_attr h4{
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0px;
    font-family: "Averia Serif Libre", Arial, Tahoma, sans-serif;
    color:#716c68;
    margin-bottom: 15px;
}
